POSTGRES_USER="default"
POSTGRES_HOST="host"
POSTGRES_PASSWORD="password"
POSTGRES_DATABASE="db"
POSTGRES_PORT=5432

# Settings MS
APP_NAME=360Hipotecario
PORT=8000

# Auth Settings
JWT_SECRET=AbCde12334
JWT_EXP=86400

# AZ
AZURE_OPENAI_KEY="jnj234b2kjh2b43k23423"
AZURE_OPENAI_ENDPOINT=https://nameaistudio.cognitiveservices.azure.com/
AZUREOPENAIVERSION="2024-05-01-preview"