# Database connect
POSTGRES_USER="default"
POSTGRES_HOST="host"
POSTGRES_PASSWORD="password"
POSTGRES_DATABASE="db"
POSTGRES_PORT=5432

# Settings MS
APP_NAME="App name"
PORT=8000

# Auth Settings
JWT_SECRET="string key"
JWT_EXP=86400

# Azure OPENAI
AZURE_OPENAI_KEY="jnj234b2kjh2b43k23423"
AZURE_OPENAI_ENDPOINT=https://nameaistudio.cognitiveservices.azure.com/
AZUREOPENAIVERSION="2024-05-01-preview"

# Blob
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=youraccount;AccountKey=yourkey;EndpointSuffix=core.windows.net
